@import "tailwindcss";

:root {
    --background: #FAF4E4;
    --foreground: #121212;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-white-ft: #FEFDFB;
    --color-green-ground: #98a369;
    --font-against: 'Against';
    --font-brule: 'Brule';
    --font-inter: 'Inter';
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: "Against";
    src: url("/fonts/Against-Regular.ttf");
}

@font-face {
    font-family: "Brule";
    src: url("/fonts/Brule-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Variable.ttf");
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.right-bar>div {
    background-image: url('/images/right-cover.webp');
    background-position: center;
}

.btn-primary {
    position: relative;
    background-color: #fae1a0;
    width: auto;
    padding: 10px 18px;
    margin: 0px;
    border-radius: 8px;
    border: 2px solid #000000;
    color: #000000;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-primary::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 8px;
    right: 8px;
    height: 6px;
    border-radius: 0 0 8px 8px;
    background-color: #000000;
}

/* BADGES */
.badge {
    padding: 4px 16px;
    border-radius: 6px;
    font-weight: bold;
    width: max-content;
}

.badge-info {
    background-color: #dbeafe;
    color: #2b7fff;
}

.badge-success {
    background-color: #dbfce7;
    color: #00c950;
}

.badge-warning {
    background-color: #fee685;
    color: #7b3306;
}

.badge-danger {
    background-color: #ffe2e2;
    color: #fb2c36;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: none;
    accent-color: #2b7fff;
}

.bottom-shadow::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 12px;
    right: 12px;
    height: 10px;
    border-radius: 0 0 8px 8px;
    background-color: #000000;
}

/* SQUARE ICONS */
.square-icon,
.square-icon-big {
    width: 32px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-icon-big {
    width: 48px;
    height: 48px;
}

.square-icon-info {
    background-color: #d5f0f9;
    color: #1481a5;
}

.square-icon-success {
    background-color: #addebf;
    color: #2e9152;
}

.square-icon-warning {
    background-color: #ffe3ba;
    color: #d3973c;
}
