@import "tailwindcss";

:root {
  --background: #FAF4E4;
  --foreground: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white-ft: #FEFDFB;
  --font-against: 'Against';
  --font-brule: 'Brule';
  --font-inter: 'Inter';
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Against";
  src: url("/fonts/Against-Regular.ttf");
}

@font-face {
  font-family: "Brule";
  src: url("/fonts/Brule-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Variable.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.right-bar>div {
  background-image: url('/images/right-cover.webp');
  background-position: center;
}
